.hero {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hero-bar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.hero-order {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-drawer-container {
  width: 100vw;
  height: 80vh;
  margin-top: 0.5rem;
}

.hero-order-table {
  width: 90%;
  padding: 1rem;
}

.hero-order-details {
  width: 40vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  #order-details-close-btn {
    position: absolute;
    right: 35px;
    top: 0;
  }
}

.payment-details-table {
  width: 90%;

  tr {
    td {
      text-align: center;
    }
  }
}

.label {
  font-family: 'Fira Code' monospace;
  font-size: 1rem;
  font-weight: 500;
  color: gray;
  padding: 0.125rem;
}

.value {
  font-family: 'Fira Code' monospace;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding: 0.125rem;
}
