<!-- <div class="hero">
  <div class="hero-bar">
    <button mat-flat-button color="primary" type="button">
      Payments: {{ totalPayments }}
    </button>
    <button mat-flat-button color="primary" type="button" (click)="onRefresh()">
      Refresh
    </button>
  </div>

  <mat-drawer-container hasBackdrop="false">
    <mat-drawer-content>
      <div class="hero-order">
        <div class="hero-order-table" *ngIf="paymentData">
          <app-payment-list-table
            [paymentData]="paymentData"
            (selectPayment)="onSelectPayment($event); drawer.toggle()"
            (pageEvent)="onPageChange($event)"
          ></app-payment-list-table>
        </div>
      </div>
    </mat-drawer-content>
    <mat-drawer #drawer mode="over" position="end">
      <div class="hero-order-details">
        <button
          mat-icon-button
          type="button"
          id="order-details-close-btn"
          (click)="drawer.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <br />
        <br />

        <table class="payment-details-table" *ngIf="selectedPayment">
          <tr>
            <td class="label">Id</td>
            <td class="value">{{ selectedPayment.id }}</td>
          </tr>
          <tr>
            <td class="label">Amount</td>
            <td class="value">
              {{ selectedPayment.amount / 100 | currency: 'INR' }}
            </td>
          </tr>
          <tr>
            <td class="label">Currency</td>
            <td class="value">{{ selectedPayment.currency }}</td>
          </tr>
          <tr>
            <td class="label">Status</td>
            <td class="value">{{ selectedPayment.status }}</td>
          </tr>
          <tr>
            <td class="label">Order Id</td>
            <td class="value">{{ selectedPayment.order_id }}</td>
          </tr>
          <tr *ngIf="selectedPayment.invoice_id">
            <td class="label">Invoice Id</td>
            <td class="value">{{ selectedPayment.invoice_id }}</td>
          </tr>
          <tr *ngIf="selectedPayment.method">
            <td class="label">Method</td>
            <td class="value">{{ selectedPayment.method }}</td>
          </tr>
          <tr *ngIf="selectedPayment.amount_refunded">
            <td class="label">Amount Refunded</td>
            <td class="value">
              {{ selectedPayment.amount_refunded / 100 | currency: 'INR' }}
            </td>
          </tr>
          <tr *ngIf="selectedPayment.refund_status !== null">
            <td class="label">Refund Status</td>
            <td class="value">{{ selectedPayment.refund_status }}</td>
          </tr>
          <tr *ngIf="selectedPayment.captured !== null">
            <td class="label">Payment Captured</td>
            <td class="value">{{ selectedPayment.captured }}</td>
          </tr>
          <tr *ngIf="selectedPayment.description">
            <td class="label">Descirption</td>
            <td class="value">{{ selectedPayment.description }}</td>
          </tr>
          <tr *ngIf="selectedPayment.card_id">
            <td class="label">Card Id</td>
            <td class="value">{{ selectedPayment.card_id }}</td>
          </tr>
          <tr *ngIf="selectedPayment.bank">
            <td class="label">Bank</td>
            <td class="value">{{ selectedPayment.bank }}</td>
          </tr>
          <tr *ngIf="selectedPayment.wallet">
            <td class="label">Wallet</td>
            <td class="value">{{ selectedPayment.wallet }}</td>
          </tr>
          <tr *ngIf="selectedPayment.vpa">
            <td class="label">Vpa</td>
            <td class="value">{{ selectedPayment.vpa }}</td>
          </tr>
          <tr *ngIf="selectedPayment.email">
            <td class="label">Email</td>
            <td class="value">{{ selectedPayment.email }}</td>
          </tr>
          <tr *ngIf="selectedPayment.contact">
            <td class="label">Contact No</td>
            <td class="value">{{ selectedPayment.contact }}</td>
          </tr>
          <tr>
            <td class="label">Notes</td>
            <td class="value">
              <table class="payment-details-notes-table">
                <tr>
                  <td class="label">Product Name</td>
                  <td class="value">
                    {{ selectedPayment.notes?.product_name }}
                  </td>
                </tr>
                <tr>
                  <td class="label">Quantity</td>
                  <td class="value">{{ selectedPayment.notes?.quantity }}</td>
                </tr>
                <tr>
                  <td class="label">User Id</td>
                  <td class="value">{{ selectedPayment.notes?.userId }}</td>
                </tr>
                <tr>
                  <td class="label">Product Id</td>
                  <td class="value">{{ selectedPayment.notes?.productId }}</td>
                </tr>
                <tr>
                  <td class="label">Price Id</td>
                  <td class="value">{{ selectedPayment.notes?.priceId }}</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr *ngIf="selectedPayment.fee">
            <td class="label">Fee</td>
            <td class="value">{{ selectedPayment.fee }}</td>
          </tr>
          <tr *ngIf="selectedPayment.tax">
            <td class="label">Tax</td>
            <td class="value">{{ selectedPayment.tax }}</td>
          </tr>
          <tr>
            <td class="label">Created At</td>
            <td class="value">{{ selectedPayment.created_at | date }}</td>
          </tr>
        </table>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div> -->
<app-loader *ngIf="!paymentData"></app-loader>

<!-- NEW DESIGN -->
<div class="hero" *ngIf="paymentData">
  <mat-toolbar color="primary">
    <button mat-flat-button color="primary" type="button">
      Payments: {{ totalPayments }}
    </button>
    <button mat-flat-button color="primary" type="button" (click)="onRefresh()">
      Refresh
    </button></mat-toolbar
  >
  <mat-drawer-container hasBackdrop="false">
    <mat-drawer-content>
      <app-payment-list-table
        [paymentData]="paymentData"
        (selectPayment)="onSelectPayment($event); drawer.toggle()"
        (pageEvent)="onPageChange($event)"
      ></app-payment-list-table>
    </mat-drawer-content>
    <mat-drawer #drawer mode="over" position="end">
      <div class="hero-order-details">
        <button
          mat-icon-button
          type="button"
          id="order-details-close-btn"
          (click)="drawer.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <br />
        <br />

        <div class="" *ngIf="selectedPayment">
          <p class="mat-subheading-2">
            Id: <span class="mat-subheading-1">{{ selectedPayment.id }}</span>
          </p>
          <p class="mat-subheading-2">
            Amount:
            <span class="mat-subheading-1">{{
              selectedPayment.amount / 100 | currency: 'INR'
            }}</span>
          </p>
          <p class="mat-subheading-2">
            Currency:
            <span class="mat-subheading-1">{{ selectedPayment.currency }}</span>
          </p>
          <p class="mat-subheading-2">
            Status:
            <span class="mat-subheading-1">{{ selectedPayment.status }}</span>
          </p>
          <p class="mat-subheading-2">
            Order Id:
            <span class="mat-subheading-1">{{ selectedPayment.order_id }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.invoice_id">
            Invoice Id:
            <span class="mat-subheading-1">{{
              selectedPayment.invoice_id
            }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.method">
            Method:
            <span class="mat-subheading-1">{{ selectedPayment.method }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.amount_refunded">
            Amount Refunded:
            <span class="mat-subheading-1">{{
              selectedPayment.amount_refunded / 100 | currency: 'INR'
            }}</span>
          </p>
          <p
            class="mat-subheading-2"
            *ngIf="selectedPayment.refund_status !== null"
          >
            Refund Status:
            <span class="mat-subheading-1">{{
              selectedPayment.refund_status
            }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.captured !== null">
            Payment Captured:
            <span class="mat-subheading-1">{{ selectedPayment.captured }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.description">
            Description:
            <span class="mat-subheading-1">{{
              selectedPayment.description
            }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.card_id">
            Card Id:
            <span class="mat-subheading-1">{{ selectedPayment.card_id }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.bank">
            Bank:
            <span class="mat-subheading-1">{{ selectedPayment.bank }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.wallet">
            Wallet:
            <span class="mat-subheading-1">{{ selectedPayment.wallet }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.vpa">
            Vpa: <span class="mat-subheading-1">{{ selectedPayment.vpa }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.email">
            Email:
            <span class="mat-subheading-1">{{ selectedPayment.email }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.contact">
            Contact No:
            <span class="mat-subheading-1">{{ selectedPayment.contact }}</span>
          </p>
          <p class="mat-subheading-2">
            Product Name:
            <span class="mat-subheading-1">{{
              selectedPayment.notes?.product_name
            }}</span>
          </p>
          <p class="mat-subheading-2">
            Quantity:
            <span class="mat-subheading-1">{{
              selectedPayment.notes?.quantity
            }}</span>
          </p>
          <p class="mat-subheading-2">
            Product Id:
            <span class="mat-subheading-1">{{
              selectedPayment.notes?.productId
            }}</span>
          </p>
          <p class="mat-subheading-2">
            User Id:
            <span class="mat-subheading-1">{{
              selectedPayment.notes?.userId
            }}</span>
          </p>
          <p class="mat-subheading-2">
            Price Id:
            <span class="mat-subheading-1">{{
              selectedPayment.notes?.priceId
            }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.fee">
            Fee: <span class="mat-subheading-1">{{ selectedPayment.fee }}</span>
          </p>
          <p class="mat-subheading-2" *ngIf="selectedPayment.tax">
            Tax: <span class="mat-subheading-1">{{ selectedPayment.tax }}</span>
          </p>
          <p class="mat-subheading-2">
            Created At:
            <span class="mat-subheading-1">{{
              selectedPayment.created_at | date
            }}</span>
          </p>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
