mat-toolbar {
  display: flex;
}
.brand-hero {
  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}
.spacer {
  flex: 1 1 auto;
}
.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
