.hero-bar {
  display: flex;
}
.hero-bar-spacer {
  flex: 1 1 auto;
}

.hero-data {
  margin: 1rem;
  .hero-data-bar {
    display: flex;
    background-color: #3f51b5;
    border-radius: 1rem;
    .hero-data-bar-count {
      flex: 30%;
      display: flex;
      justify-content: center;
    }
    .hero-data-bar-spacer {
      flex: 40%;
    }
    .hero-data-bar-create {
      flex: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:0.5rem auto;
    }
  }
  .hero-data-result {
    margin: 1rem auto;
    .hero-data-result-null {
      text-align: center;
    }
  }
}
