<!-- <div class="hero" *ngIf="productDetails">
  <div class="hero-first">
    <div class="first-image" ngxViewer *ngIf="productDetails.images">
      <img
        *ngFor="let image of productDetails.images"
        [src]="image.url"
        [alt]="image.name"
      />
    </div>
    <div class="first-details">
      <div class="product-name" *ngIf="productDetails.name">
        {{ productDetails.name }}
      </div>
      <div class="product-category" *ngIf="productDetails.category">
        {{ productDetails.category.name }}
      </div>

      <div class="product-approval-details">
        <p class="pending-count-txt" *ngIf="productDetails.decline_count">
          Approval declined {{ productDetails.decline_count }} times
        </p>
      </div>

      <div class="kyc-approval-action">
        <button
          mat-raised-button
          style="color: white; fill: white; background-color: green"
          (click)="acceptTheApproval()"
        >
          <mat-icon>assignment_turned_in</mat-icon> Accept
        </button>
        <button mat-raised-button color="warn" (click)="rejectTheApproval()">
          <mat-icon>block</mat-icon> Reject
        </button>
      </div>
    </div>
  </div>
  <div class="hero-second">
    <div class="product-small-description">
      {{ productDetails.small_description }}
    </div>
    <div class="product-description">
      {{ productDetails.description }}
    </div>
  </div>
  <div class="hero-third">
    <div class="product-specifications">
      <div
        class="product-specification"
        *ngFor="let specification of productDetails.specification"
      >
        <div class="specification-label">
          {{ specification.label }}
        </div>
        <div class="specification-value">
          {{ specification.value }}
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-loader *ngIf="!productDetails"></app-loader>

<!-- NEW DESIGN -->
<div class="hero" *ngIf="productDetails">
  <div class="product-images">
    <div class="product-big-image">
      <img
        [src]="productDetails.images[selectedImage].url"
        [alt]="productDetails.images[selectedImage].name"
      />
    </div>
    <div class="product-small-images">
      <img
        *ngFor="let image of productDetails.images; let i = index"
        [src]="image.url"
        [alt]="image.name"
        (mouseover)="selectedImage = i"
      />
    </div>
  </div>

  <div class="product-details">
    <!-- PRODUCT NAME  -->
    <h1 class="mat-headline">
      {{ productDetails.name }}
    </h1>
    <h4 class="mat-subheading-1">
      {{ productDetails.category.name }}
    </h4>

    <p class="mat-subheading-2">
      {{ productDetails.small_description }}
    </p>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Your Decision</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-subheading-2" *ngIf="productDetails.decline_count">
          Approval declined
          <span class="mat-subheading-1">{{
            productDetails.decline_count
          }}</span>
          times
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          style="color: white; fill: white; background-color: green"
          (click)="acceptTheApproval()"
        >
          <mat-icon>assignment_turned_in</mat-icon> Accept
        </button>
        <button mat-raised-button color="warn" (click)="rejectTheApproval()">
          <mat-icon>block</mat-icon> Reject
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- META -->
    <!-- DESCRIPTION  -->
    <mat-accordion *ngIf="productDetails.prices">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> DESCRIPTION </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="mat-subheading-1">{{ productDetails.description }}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- SPECIFICATIONS -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>SPECIFICATIONS</mat-panel-title>
        </mat-expansion-panel-header>
        <p
          class="mat-subheading-2"
          *ngFor="let specification of productDetails.specification"
        >
          {{ specification.label }}:
          <span class="mat-subaheding-1">{{ specification.value }}</span>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
