<div class="hero" *ngIf="productDetails">
  <div class="hero-first">
    <div class="first-image" ngxViewer *ngIf="productDetails.images">
      <img
        *ngFor="let image of productDetails.images"
        [src]="image.url"
        [alt]="image.name"
      />
    </div>
    <div class="first-details">
      <div class="product-name" *ngIf="productDetails.name">
        {{ productDetails.name }}
      </div>
      <div class="product-category" *ngIf="productDetails.category">
        {{ productDetails.category.name }}
      </div>

      <div class="product-approval-details">
        <p class="pending-count-txt" *ngIf="productDetails.decline_count">
          Approval declined {{ productDetails.decline_count }} times
        </p>
      </div>

      <div class="kyc-approval-action">
        <button
          mat-raised-button
          style="color: white; fill: white; background-color: green"
          (click)="acceptTheApproval()"
        >
          <mat-icon>assignment_turned_in</mat-icon> Accept
        </button>
        <button mat-raised-button color="warn" (click)="rejectTheApproval()">
          <mat-icon>block</mat-icon> Reject
        </button>
      </div>
    </div>
  </div>
  <div class="hero-second">
    <div class="product-small-description">
      {{ productDetails.small_description }}
    </div>
    <div class="product-description">
      {{ productDetails.description }}
    </div>
  </div>
  <div class="hero-third">
    <div class="product-specifications">
      <div
        class="product-specification"
        *ngFor="let specification of productDetails.specification"
      >
        <div class="specification-label">
          {{ specification.label }}
        </div>
        <div class="specification-value">
          {{ specification.value }}
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="!productDetails"></app-loader>
