<div class="hero">
  <div class="hero-create-form">
    <form
      [formGroup]="categoryForm"
      #formDirective="ngForm"
      (submit)="onAddCategory(formDirective)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          name="name"
          placeholder="Enter your name"
          formControlName="name"
        />
        <mat-error *ngIf="categoryForm.get('name').hasError('required')"
          >Name is required</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="categoryForm.invalid"
        type="submit"
        class="form-submit-btn"
      >
        Create
      </button>
    </form>
  </div>
  <div class="hero-categories-data" *ngIf="categoriesData">
    <mat-grid-list
      [cols]="mybreakpoint"
      rowHeight="250px"
      (window:resize)="handleSize($event)"
    >
      <mat-grid-tile *ngFor="let category of categoriesData.rows">
        <mat-card class="example-card">
          <input
            matInput
            type="text"
            [value]="category.name"
            required
            #categoryInput
            disabled
            placeholder="Category Name"
          />
          <mat-card-actions>
            <button
              (click)="categoryInput.disabled = false"
              type="button"
              *ngIf="categoryInput.disabled"
              mat-button
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="
                onUpdateCategory(categoryInput.value, category.id);
                categoryInput.disabled = true
              "
              type="button"
              *ngIf="!categoryInput.disabled"
              mat-button
            >
              Edit
            </button>
            <button
              (click)="categoryInput.disabled = true"
              type="button"
              *ngIf="!categoryInput.disabled"
              mat-button
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
